body {
    background-color: #efefef;
}

.collection-item span {
    font-size:20px;
    margin-right: 5px;
}

.collection-item .delete-btn {
    font-size:20px;
    color: #f44336;
    width: 5%;
    text-align: center;
    cursor: pointer;
}

.collection-item .edit-btn {
    font-size:20px;
    color: #00695c;
    width: 5%;
    text-align: center;
    margin-left: 5px; 
}

.collection-item input.list-color-input {
    width: 100px;
    margin-left: 10px; 
    height: 2rem;
    border-bottom: 1px solid #ccc;
}

.collection-item .item-text{
    display: inline-block;
    width: 95%;
}

.collection-item .color-box {
    height: 20px;
    width: 20px;
    display: inline-block;
}

.add-form {
    margin-top: 40px;
}

.add-form input.new-color-input {
    width: 150px;
    margin-left: 10px; 
    height: 2rem;
    border-bottom: 1px solid #ccc;
}

.add-form label {
    font-size: 1.2rem;
}

.add-form input[type='submit'] {
    margin-left:20px; 
}

@media screen and (max-width: 449px) {
    .add-form input[type='submit'] {
        margin-left:0; 
    }
}